* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-size:1.125rem;
}



h2 {
  margin-top: 0;
  padding-inline: 24px;
}

html,
body {
  margin: 0;
  padding: 0;
}

.max-width-wrapper {
  width: 100%;
  max-width: 45rem;
  margin-inline: auto;
}

.intro-chunk {
  max-width: 440px;
  padding-block-start: 3rem;
  padding-left: 1.25rem;
}

.title {
  margin-block-end: 1.75rem;
  font-weight: 550;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

header {
  height:46vh;
}

main {
  height: 54vh;
  background-color: hsl(0deg, 0%, 40%);
  border-top: 8px solid hsl(0deg, 0%, 60%); ;
}

section {

}

.card {
  background-color: white;
  padding: 1.25rem;
  padding-bottom: 0.25rem;
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
  margin-top:2rem;
}

.indented-heading {
  max-width: fit-content;
  background-color: hsl(45deg, 100%, 50%);
  padding-block: 0.5rem;
  padding-left: 2rem;
  margin-inline-start: -30px;
  margin-block-start: -16px;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}